{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}

<footer>
<a href="#" id="backToTop"><img src="{{ base_path ~ directory }}/images/backTop.png" alt="top"> Back to top</a>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
              <a href="/" title="Home"><img alt="Arden University" class="b-lazy responsive lazy-loaded logo" src="{{ base_path ~ directory }}/images/footer-logo.png" /></a>
            </div>
            <div class="col-lg-10">

              <div class="row align-items-center">
                <div class="col-md-5">                  
                  <ul id="social_icons" class="d-flex">
                  <li><h6>Follow us on</h6></li>
                    <li><a href="#" title="Facebook" class="Facebook"><img src="{{ base_path ~ directory }}/images/facebook.png" alt="Facebook" /></a></li>
                    <li><a href="#" title="Twitter"><img src="{{ base_path ~ directory }}/images/twitter.png" alt="Twitter" /></a></li>
                    <li><a href="#" title="Instagram"><img src="{{ base_path ~ directory }}/images/instagram.png" alt="Instagram" /></a></li>
                    <li><a href="#" title="LinkedIn"><img src="{{ base_path ~ directory }}/images/linkedin.png" alt="LinkedIn" /></a></li>
                  </ul>
                </div>
                <div class="col-md-7">
                <div class="subscribe-form d-flex">
                <h6>Subscribe to Newsletter</h6>
                <form name="subscribe" method="post">
                <input type="email" name="subscribe" class="w-100" placeholder="Your Email Address">
                <input type="submit" name="submit" class="btn btn-sm" value="SUBSCRIBE">
                </form>
                </div>
                </div>
              </div>

              <div id="footer_links">
                <div class="row">
                  {{ content }}

                  <div class="col-6 col-lg-3">
                    <h6>Contact us:</h6>
                    <p>0845 7883368</p>
                    <h6>International:</h6>
                    <p>+44 (0) 24 765 15700</p>
                  </div>

                  <div class="col-6 col-lg-3">
                    <h6>Find us:</h6>
                    <p>Arden University, <br/>Middlemarch Park, <br/>Coventry, CV3 4FJ, UK</p>
                  </div>

                </div>

              </div>
                  <p style="text-align: center;">&copy; 2005-2020 Arden University | All rights reserved</p>
              </div>

        </div>
    </div>
</footer>
<a href="#" class="supportBtn">Support</a>